pyfits
results
.metadata
/FLATRateMap.pickle.png
/5000_radial.pdf
/BGRateMap_HESS_2_deg.pickle
/BGRateMap_HESS_2_deg.pickle_galprop.pdf
/BGRateMap_HESS.pickle
/BGRateMap_HESS.pickle_galprop.pdf
/BGRateMap.pickle
/BGRateMap.pickle_galprop.pdf
/BGRateMap.pickle_sideband.pdf
/calibration_MCOut_galprop_PULSAR_500_1.pickle
/calibration_MCOut_galprop_PULSAR_500_2.pickle
/calibration_MCOut_galprop_PULSAR_500_3.pickle
/calibration_MCOut_galprop_PULSAR_500_4.pickle
/calibration_MCOut_galprop_PULSAR_500_5.pickle
/calibration_MCOut_galprop_PULSAR_500_6.pickle
/calibration_MCOut_galprop_PULSAR_500_8.pickle
/clus
/Cluster_All_100.pdf
/Cluster_All_48.pdf
/Cluster_All_500.pdf
/Cluster_All.pdf
/Cluster_Count.pdf
/Cluster_Example_48.pdf
/Cluster_galprop_All_100.pdf
/Cluster_galprop_All_48.pdf
/Cluster_galprop_All_500.pdf
/Cluster_galprop_All_5000.pdf
/Cluster_Members.pdf
/Cluster_Scaling.pdf
/Cluster_sideband_All_48.pdf
/Cluster_sideband_All_500.pdf
/Cluster_Sigs.pdf
/ClusteringScan_40_events_incon.pdf
/ClusteringScan_40_events_incon.png
/ClusteringScan.pdf
/ClusteringScan.png
/Clusters_MCOut_galprop_EIN_100.pickle
/Clusters_MCOut_galprop_EIN_48.pickle
/Clusters_MCOut_galprop_EIN_500.pickle
/Clusters_MCOut_galprop_FLAT_100.pickle
/Clusters_MCOut_galprop_FLAT_48.pickle
/Clusters_MCOut_galprop_FLAT_500.pickle
/Clusters_MCOut_galprop_NFW_100.pickle
/Clusters_MCOut_galprop_NFW_48.pickle
/Clusters_MCOut_galprop_NFW_500.pickle
/Clusters_MCOut_galprop_NFWDECAY_100.pickle
/Clusters_MCOut_galprop_NFWDECAY_48.pickle
/Clusters_MCOut_galprop_NFWDECAY_500.pickle
/Clusters_MCOut_galprop_PULSAR_100_1.pickle
/Clusters_MCOut_galprop_PULSAR_100_2.pickle
/Clusters_MCOut_galprop_PULSAR_100_3.pickle
/Clusters_MCOut_galprop_PULSAR_100_4.pickle
/Clusters_MCOut_galprop_PULSAR_100_6.pickle
/Clusters_MCOut_galprop_PULSAR_48_1.pickle
/Clusters_MCOut_galprop_PULSAR_48_2.pickle
/Clusters_MCOut_galprop_PULSAR_48_3.pickle
/Clusters_MCOut_galprop_PULSAR_48_4.pickle
/Clusters_MCOut_galprop_PULSAR_48_5.pickle
/Clusters_MCOut_galprop_PULSAR_48_6.pickle
/Clusters_MCOut_galprop_PULSAR_500_1.pickle
/Clusters_MCOut_galprop_PULSAR_500_2.pickle
/Clusters_MCOut_galprop_PULSAR_500_3.pickle
/Clusters_MCOut_galprop_PULSAR_500_4.pickle
/Clusters_MCOut_galprop_PULSAR_500_5.pickle
/Clusters_MCOut_galprop_PULSAR_500_6.pickle
/Clusters_NFW.pickle
/Clusters_pulsar.pickle
/Clusters_pulsars.pickle
/CompareClustering_4800.pdf
/correlation_puls_nfw_nfwdecay_500.pdf
/correlation_puls_nfw_nfwdecay_500.png
/correlation.pdf
/Dendogram 4800.pdf
/dist_2d_1.pdf
/dist_2d_2.pdf
/dist_2d_3.pdf
/ein_test.pickle
/EINRateMap.pickle
/EINRateMap.pickle.png
/EINRateMapHESS.pickle
/eps_nmin.sh~
/eps_vs_nmin_48_4_puls.pdf
/eps_vs_nmin.pdf
/epsScan_2_1000.pickle
/epsScan_2_2000.pickle
/epsScan_2_4000.pickle
/epsScan_2_48.pickle
/epsScan_4_1000.pickle
/epsScan_4_2000.pickle
/epsScan_4_4000.pickle
/epsScan_4_48.pickle
/epsScan_6_1000.pickle
/epsScan_6_2000.pickle
/epsScan_6_4000.pickle
/epsScan_6_48.pickle
/epsScan.pickle
/FERMI_130_bak_10-18-2012.tar.gz
/FERMI_130_bak_11-14-2012.tar.gz
/FERMI_130_bak_2_7_2013.tar.gz
/Fermi_Dendogram_120-140.pdf
/Fermi_Events_120-140.pdf
/fermi_out.txt
/Fermi_PSF.pdf
/Fermi_PSF2.pdf
/flatness.pdf
/FLATRateMap.pickle
/FLATRateMapHESS.pickle
/gal_2yearp7v6_v0.fits
/gll_psc_v08.fit
/MC_TEST_NFW_4800.pickle
/MCDist.sh~
/MCDistClustering.sh~
/MCDistClustering48.sh~
/MCList.pickle
/MCOut_galprop_BG_500.pickle
/MCOut_galprop_BG_5000.pickle
/MCOut_galprop_EIN_100.pickle
/MCOut_galprop_EIN_48.pickle
/MCOut_galprop_EIN_500.pickle
/MCOut_galprop_FLAT_100.pickle
/MCOut_galprop_FLAT_48.pickle
/MCOut_galprop_FLAT_500.pickle
/MCOut_galprop_NFW_100.pickle
/MCOut_galprop_NFW_48_example.pickle
/MCOut_galprop_NFW_48.pickle
/MCOut_galprop_NFW_500.pickle
/MCOut_galprop_NFW_5000.pickle
/MCOut_galprop_NFWDECAY_100.pickle
/MCOut_galprop_NFWDECAY_48.pickle
/MCOut_galprop_NFWDECAY_500.pickle
/MCOut_galprop_NFWDECAY_5000.pickle
/MCOut_galprop_PULSAR_100_1.pickle
/MCOut_galprop_PULSAR_100_2.pickle
/MCOut_galprop_PULSAR_100_3.pickle
/MCOut_galprop_PULSAR_100_4.pickle
/MCOut_galprop_PULSAR_100_5.pickle
/MCOut_galprop_PULSAR_100_6.pickle
/MCOut_galprop_PULSAR_48_1.pickle
/MCOut_galprop_PULSAR_48_2.pickle
/MCOut_galprop_PULSAR_48_3_example.pickle
/MCOut_galprop_PULSAR_48_3.pickle
/MCOut_galprop_PULSAR_48_4.pickle
/MCOut_galprop_PULSAR_48_5.pickle
/MCOut_galprop_PULSAR_48_6.pickle
/MCOut_galprop_PULSAR_500_1.pickle
/MCOut_galprop_PULSAR_500_2.pickle
/MCOut_galprop_PULSAR_500_3.pickle
/MCOut_galprop_PULSAR_500_4.pickle
/MCOut_galprop_PULSAR_500_5.pickle
/MCOut_galprop_PULSAR_500_6.pickle
/NFWDECAYRateMap.pickle
/NFWDECAYRateMap.pickle.png
/NFWDECAYRateMapHESS.pickle
/NFWRateMap.pickle
/NFWRateMap.pickle.png
/NFWRateMapHESS.pickle
/nohup.out
/photons.txt
/psf_energies.txt
/psf.fits
/PSF.png
/psf.txt
/psfBack.txt
/psfFront.txt
/PULSARRateMap.pickle
/PULSARRateMap.pickle.png
/PULSARRateMapHESS.pickle
/pulsarTest.pdf
/radial_500_5e3.pdf
/randAuto.pickle
/randCross.pickle
/scan_40.pickle
/scan.pickle
/test
/test_2_2000.pickle
/test_2_4000.pickle
/test_2_48.pickle
/test_2.pickle
/test_4_2000.pickle
/test_4_4000.pickle
/test_4_48.pickle
/test_6_2000.pickle
/test_6_4000.pickle
/test_6_48.pickle
/test.pdf
/test.pickle
/test.pickle1.pickle
/test.png
/test1.pickle
/test2.pickle
/todo.txt
/todo.txt~
/.pdf
/.png
